:root {
	font-family: 'Montserrat';
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.rhap_container {
	background-color: #222222;
}

.container {
	margin: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	min-height: 80vh;
	padding-bottom: 85px;
	width: 100%;
}

.player {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 85px;
}

.row {
	display: flex;
	justify-content: center;
}

:root {
	--primary-color: #ff0000;
	background-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #d4d4d4;
}
